{{ $commonLabels := .CommonLabels }}
{{ range $i, $alert := .Alerts }}
{{ if eq .Status "firing" }}
# <font color="warning">{{ $commonLabels.env }}-服务异常告警</font>
> 当前状态：<font color="warning">**异常**</font>
> 异常级别：<font color="warning">{{ $alert.Labels.severity }}</font>
> 当前实例：<font color="warning">{{ $alert.Labels.instance }}</font>
> 当前服务：<font color="warning">{{ $alert.Labels.service_id }}</font>
> 告警详情：<font color="warning">{{ $alert.Annotations.description }}</font>
> 告警时间：<font color="warning">{{ timeFormat "2006-01-02 15:04:05" ($alert.StartsAt) }}</font>
{{ else if eq .Status "resolved"}}
# <font color="info">{{ $commonLabels.env }}-服务恢复通知</font>
> 当前状态：<font color="info">**正常**</font>
> 当前实例：<font color="info">{{ $alert.Labels.instance }}</font>
> 当前服务：<font color="info">{{ $alert.Labels.service_id }}</font>
> 通知详情：<font color="info">服务已恢复</font>
> 恢复时间：<font color="info">{{ timeFormat "2006-01-02 15:04:05" ($alert.EndsAt) }}</font>
{{ else }}
# <font color="comment">{{ $commonLabels.env }}-更多服务通知</font>
> 当前状态：<font color="comment">**未知**</font>
> 通知详情：<font color="comment">更多服务请自行排查</font>
{{ end }}
{{ end }}